Port 2222
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM no
X11Forwarding no
AllowTcpForwarding yes
AllowStreamLocalForwarding yes
StreamLocalBindUnlink yes
AcceptEnv XDG_RUNTIME_DIR WAYLAND_DISPLAY DISPLAY
AllowAgentForwarding no
PermitTunnel no
PrintMotd no
